/* google font - inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
  /* margin: 0; */
  /* padding: 0; */
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
body{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
:root{
  --primary-color: #F7E93F;
  --secondary-color: #FB09B4;
  --tertiary-color: #9100F8;
  --linear-gradient: linear-gradient(45deg, var(--primary-color), var(--secondary-color), var(--tertiary-color));
  --bg-color: #1A0B2E;
}

nav .logo a span{
  background: var(--linear-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header nav .button button{
  background: var(--linear-gradient);
}
header nav .button button:hover{
  background: linear-gradient(225deg, var(--primary-color), var(--secondary-color), var(--tertiary-color));
}
nav ul li a{
  transition: all 0.3s ease-in-out;
}
nav ul li a:hover{
  color: var(--secondary-color);
}