/* google font - inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
  /* margin: 0; */
  /* padding: 0; */
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
body{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
:root{
  --primary-color: #F7E93F;
  --secondary-color: #FB09B4;
  --tertiary-color: #9100F8;
  --linear-gradient: linear-gradient(45deg, var(--primary-color), var(--secondary-color), var(--tertiary-color));
  --bg-color: #1A0B2E;
  --fourth-color: #00FF88;
  --section-bg: #1A0B2E;
  --section-bg-2: #230E3D;
}
p{
  font-size: 16px;
  color: #b3b3b3;
}

nav .logo a span,
footer .footer-content h1 span{
  background: var(--linear-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header nav .button button{
  background: var(--linear-gradient);
}
header nav .button button:hover,
.banner button.spotify:hover{
  background: linear-gradient(225deg, var(--primary-color), var(--secondary-color), var(--tertiary-color));
}
nav ul li a{
  transition: all 0.3s ease-in-out;
}
nav ul li a:hover{
  color: var(--secondary-color);
}


/* banner section */
.banner{
  background-image: url(./image/hero-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  border-top: 1px solid #9100f83e;
}
.banner .img{
  background-image: url(./image/hero-circle.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 350px;
  height: 350px;
  position: relative;
}
.banner .img::before{
  content: "NEW";
  position: absolute;
  top: 25px;
  right: 25px;
  background: var(--fourth-color);
  font-size: 18px;
  padding: 5px 12px;
  border-radius: 25px;
  box-shadow: 0 0 10px 0 var(--fourth-color);
}
.banner img{
  width: 140px;
}
.banner button.spotify{
  background: var(--linear-gradient);
}
.banner button img{
  width: 20px;
}



/* about section */
.about .about-details{
  border-top: 1px solid #9100f83e;
}



/* choose Techwave section */
.choose-techwave-card .card{
  background: rgb(53, 17, 101, 40);
  border-radius: 15px;
  
}
.choose-techwave-card .card img{
  width: 50px;
  height: 50px;
}
.fa-hornbill{
  color: var(--secondary-color);
}



/* featured section */
.featured-card .card{
  background: var(--section-bg-2);
  height: 100%;
}


/* meet host */
 .host-info .social-links a{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #533C72;
  display: flex;
  justify-content: center;
  align-items: center;
 }


 /* footer section */
 footer{
  background-image: url(./image/footer-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 350px;
 }


 /* media query */
 @media (max-width: 640px) {
  .banner .img{
    width: 250px;
    height: 250px;
  }
  .banner img{
    width: 100px;
  }
  .banner .img::before{
    top: 15px;
    right: 15px;
    font-size: 14px;
  }
 }